/* this class in the infoPanel.js */
.user-info-wrapper {
  display: flex;
  flex-direction: row;
}

.form-wrapper .form-group {
  display: flex;
  flex-direction: row;
}

.form-wrapper .form-group > label {
  padding: 0 10px 0 10px;
  width: 88px;
}


.profile-name-wrapper{
  justify-content: center;
}
